// ==========================================================================
// Title:        Basic
// ==========================================================================

// ==========================================================================
// =global
// ==========================================================================

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

html,
body { font-size: $em-base; }

body {
    color: $body-font-color;
    font-family: $body-font-family;
    line-height: 1;
}

a {
    color: #3e83e6;
    text-decoration: underline;
    
    &:hover {
        color: #3e83e6;
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    color: $body-title-color;
    margin-bottom: 0.3em;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 48px;
    line-height: 1;
}

h2 {
    font-size: emCalc(30px);
}

h3 {
    margin-bottom: 10px;
    font-size: emCalc(24px);
}

h4 {

}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px solid #e8edee;
}

.text-normal {
    font-weight: normal;
}

p {
    line-height: $paragraph-line-height;
}

// ==========================================================================
// =layout
// ==========================================================================

.container-wrap {
    max-width: $row-width;
    margin: 0 auto;
}

.header {
    min-height: 650px;
    padding: 65px 0 15px 0;
    background: url(i/e-header-bg.jpg) no-repeat center top;
    border-bottom: solid #d0d2d6 1px;
    
    hr {
        height: 1px;
        margin: 0;
        border: none;
        background: url(i/e-head-hr.png) no-repeat center top;
        
        @media only screen and (max-width: 768px) {
            margin: 0 !important;
        }
    }
    
    .teaser, .intro {
        margin: 55px 0 35px 0;
    }
    
    .teaser {
        margin-right: 25px;
        
        min-height: 424px;
        background: $white;
        border: solid #d3d9e4 1px;
        
        @include box-shadow(rgba(0,0,0,0.5) 0px 0px 20px 0px);
        
        img {
            display: block;
        }
    }
    
    .inner {
        margin-right: 25px;
    }
    
    .intro {
        min-height: 345px;
        margin-left: -25px;
        
        .title {
            margin-top: -5px;
            color: $white;
            
            text-shadow: 1px 1px 0px #000000;
            filter: dropshadow(color=#000000, offx=1, offy=1);
        }
        
        .perex {
            margin-bottom: 30px;
            color: #90ccf2;
            font-size: emCalc(13px);
            line-height: 1.4;
        }
        
        .button {
            margin-right: 14px;
            
            &.last, &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .list-01 {
        margin-left: -25px;
    }
}


@media only screen and (max-width: 768px) {
    .header {
        
        .teaser {
            margin-right: 0;
            margin-top: 10px;
            min-height: auto;
        }
        
        .list-01 {
            margin-left: 0;
        }
        
        .intro {
            margin-left: 0;
            margin-top: 10px;
            min-height: auto;
            padding: 20px;
            background: $body-bg-alt;
            
            .title {
                color: $body-title-color;
                text-shadow: none;
                filter: none;
            }
        }
        
        .buttons {
            padding-bottom: 0;
            
            .button {
                margin-bottom: 0;
            }
        }
    }
}


.logo {
    display: block;
    margin: 0 0 30px 0;
}


.nav {
    ul {
        @include list-reset;
    
        li {
            display: inline;
            
            a {
                padding: 0 19px;
                font-size: emCalc(15px);
                color: $white;
                line-height: 42px;
                text-decoration: none;
    
                @include inline-block;
                @include border-radius(5px);
                @include transition-property(background);
                @include transition-duration(200ms);
                
                &:hover {
                    background: #092863;
                    color: $white;
                    
                    @include box-shadow(inset #061b43 0px 1px 3px 0px);
                }
            }
            
            &.active {
                a {
                    background: #092863;
                    
                    @include box-shadow(inset #061b43 0px 1px 3px 0px);
                }
            }
        }
    }
}

// ==========================================================================
// =list-01 (what other say)
// ==========================================================================
.list-01 {
    .item {
        padding: 15px;
        border: solid #e0e0e0 1px;
        background: $white; 
        margin-bottom: 15px;
        min-height: 108px;
        
        @include border-radius(5px);
        
        img {
            width: 64px;
            float: left;
        }
        p {
            margin: 0 0 0 80px;
            font-style: italic;
            font-size: emCalc(13px);
            color: #8f8f8f;
        }
        .signature {
            display: block;
            margin-top: 8px;
            font-size: emCalc(13px);
            font-weight: bold;
            text-align: right;
            color: #474747;
        }
    }
}

// ==========================================================================
// =list-02 (installation is simple)
// ==========================================================================
.list-02 {
    ul {
        @include list-reset;
        
        li {
            display: block;
            min-height: 45px;
            margin-bottom: 5px;
            padding-left: 45px;
            position: relative;
            font-size: emCalc(12px);
            
            span {
                position: absolute;
                display: block;
                width: 32px;
                height: 32px;
                top: 3px;
                left: 0;
                overflow: hidden;
                color: $white;
                font-size: emCalc(18px);
                font-weight: bold;
                line-height: 32px;
                text-align: center;
                background: url(i/e-bullet.png) no-repeat left top;
            }
        }
    }
}

// ==========================================================================
// =list-03 (features)
// ==========================================================================
.list-03 {
    .item {
        margin-bottom: 10px;
    }
}


.features {
    background: $body-bg-alt;
}

.howto {
    h3 {
        margin-top: -5px;
    }
}

.section {
    padding: 20px 0;
    overflow: hidden;
    border-bottom: solid #d0d2d6 1px;
    
    img {
        margin-bottom: 20px;
        
        @include box-shadow(rgba(0,0,0,0.75) 0px 0px 10px 0px);
    }
    
    h3 {
        font-size: emCalc(18px);
    }
    p {
        font-size: emCalc(13px);
    }
}

.button {
    &.download {
        padding-left: 0 !important;
        color: $body-title-color;
        position: relative;
        
        span {
            display: block;
            padding-left: 75px;
            height: 53px;
            background: url(i/e-btn-download.png) no-repeat left top;
        }
    }
}


.footer {
    padding: 10px 0 12px 0;
    font-size: emCalc(12px);
    
    img {
        margin-right: 12px;
    }
    
    a {
        text-decoration: none;
    }
    
    @media only screen and (max-width: 768px) {
        padding-bottom: 0px;
        
        div {
            text-align: left !important;
        }
        
        img {
            margin-bottom: 10px;
        }
    }
}


// ==========================================================================
// =misc
// ==========================================================================

img.left {
    margin-top: 1em;
    margin-right: 10px;
    margin-bottom: 10px;
}

img.right {
    margin-top: 1em;
    margin-left: 10px;
    margin-bottom: 10px;
}

.t-right {
    text-align: right;
}

.t-left {
    text-align: left;    
}

.t-center {
    text-align: center;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.centered-wrapper {
    text-align: center;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em; /* Adjusts for spacing */
    }
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.group {
    @include clearfix();
}